@font-face {
  font-family: 'Arvo';
  font-display: swap;
  src: local('Arvo'), url(https://fonts.gstatic.com/s/arvo/v9/rC7kKhY-eUDY-ucISTIf5PesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}

:root {
  --main-bg-color: #fff;
  --primary: #000;
  --text-primary: #000;
  --text-secondary: #fff;
  --error: red;
}

html { box-sizing: border-box; }

*, :after, :before {
  box-sizing: inherit;
  font-family: "Arvo", serif;
}

html,
body {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  font-size: 62.5%;
  background-color: var(--main-bg-color);
}

.conch {
  position: absolute;
  bottom: 40px;
  right: -20px;
  width: 40%;
}

.conch svg {
  width: 100%;
  height: 100%;
}

.intro {margin-top: 15vh; }

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  padding-bottom: 15px;
}

h2 {
  font-size: 1.5rem;
  padding-bottom: 10px;
}

h3 {
  font-size: 1.2rem;
  padding-bottom: 10px;
}

p {
  padding-bottom: 2rem;
  font-size: 1.4rem;
}

.question {
  text-transform: capitalize;
}

.pre-answer {
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.button {
  width: 100%;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: var(--text-secondary);
  background: var(--primary);
  border: 2px solid var(--primary);
  text-decoration: none;
  margin-bottom: 0.5rem;
  text-align: center;
}

.button:hover,
.button:focus {
  color: var(--text-primary);
  background: var(--secondary);
}

input {
  border: 2px solid var(--primary);
  width: 100%;
  padding: 15px 20px;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.error {
  color: var(--error);
  font-size: 1rem;
  padding: .5rem 0;
}

.error:before {
  content: '!';
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: var(--primary);
  color: var(--text-secondary);
  text-align: center;
  line-height: 20px;
  font-size: 10px;
  margin-right: .5rem;
}

/* -- SM --*/
@media (min-width: 37.5em) {
  .wrapper-inner { width: 70%; }

  h1 {
    font-size: 3rem;
    padding-bottom: 25px;
  }

  h2 {
    font-size: 2rem;
    padding-bottom: 20px;
  }

  .button {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

/* -- MD --*/
@media (min-width: 50em) {
  .wrapper { max-width: 70%; }
  .wrapper-inner { width: 70%; }

  .conch{ right: 0; }

}

/* -- LG --*/
@media (min-width: 64em) {
  .wrapper {
    padding: 0;
    max-width: 53%;
    margin: 0 auto 0 10%;
  }

  .wrapper-inner { width: 75%; }
}
